{
    "root": true,
    "extends": [
        "eslint-config-ambassify/node"
    ],
    "rules": {
        "n/no-unsupported-features": 0,
        "n/no-missing-import": 0,
        "n/no-missing-require": 0,
        "n/no-unpublished-import": 0,
        "n/no-unpublished-require": 0
    }
}
